[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=tab
indent_size=4

[{.babelrc,.stylelintrc,jest.config,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{.jshint,jshint.json,*.jshintrc}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

[tslint.json]
indent_style=space
indent_size=2

